*{
    padding: 0px;
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}

a{
    text-decoration: none;
    cursor: pointer;
}

b{
    font-weight: 600;
}

body{
    background-color: #fafafa;
}

.arrow{
    content: url('../img/arrow-down@2x.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 17px;
    height: 9px;
    display: block;
}

.arrow-rotate{
    transform: rotate(180deg);
}

.btn-up{
    display: none;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    bottom: 28px;
    right: 28px;
    z-index: 2;
    border: 1px solid #440099;
    background-color: #ffffff;
    color: #440099;
    box-shadow: 0 2px 9px 0 #ccc;
}

.btn-up:hover{
    background-color: #440099;
    border: 1px solid #440099;
    color: #ffffff;
    box-shadow: 0 2px 9px 0 #ccc;
}

.header{
    width: 100%;
    height: 69px;
    background-color: #ffffff;
    margin: auto;
    box-shadow: 0 3px 12px 0 #dddddd;
    position: fixed;
    z-index: 1;
}

.header-container{
    width: 1366px;
    margin: auto;
    padding: 23px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-fravega{
    width: 100%;
    max-width: 148px;
    height: 23px;
    margin-left: 23px;
    margin-right: 15px;
}

.divider{
    width: 1px;
    height: 23px;
    background-color: #000000;
    margin-right: 14px;
}

.culturaIT{
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.64px;
    text-align: center;
    color: #000000;
}

.container{
   background-color: #fafafa;
   padding-top: 91px;
   margin: auto;
}

.teams{
    width: 992px;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #440099;
}

.show-team{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 15px 15px 15px;
}

.title-teams{
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal; 
    line-height: normal;
    letter-spacing: 0.16px;
    color: #000000; 
}

.material-icons{
    font-size: 30px !important;
}

.cont-cards{
    background-color: #ffffff;
    padding: 28px 28px 0px 28px;
    margin: auto;
    box-shadow: 0 2px 7px 0 #e1e1e1;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 28px;
}

.staff{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.staff-data{
    display: flex;
    flex-direction: column;
}

.container-img{
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 17px;
}

.container-img img{
    width: auto;
    height: 100%;
}

.name-surname{
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.18px;
    color: #000000;
    margin-bottom: 4px;
}

.job-title{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #4a4a4a;
    margin-bottom: 4px;
}

.date-of-birth{
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.51px;
    color: #D30098;
}

/* escala de grises */

.gray{
    filter: grayscale(1);
    transition-property: filter;
    transition-duration: 1s;
}

@media (max-width:767px){
    .container{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 70px;
    }
    .teams{
        width: 100%;
    }
    .cont-cards{
        padding: 20px;
        padding-bottom: 0px;
    }
    .staff{
        margin-bottom: 20px;
    }
    
    .cards{
        padding-bottom: 0px;
    }
    .title-teams{
        font-size: 20px;
    }
    .teams{
        margin-bottom: 0px;
    }
    .logo-fravega{
        margin-left: 0px;
    }
    .btn-up{
        bottom: 15px;
        right: 15px;
    }
}